<footer class="bg-body-secondary p-5">
  <h3 class="mb-2 ms-2">Get the FreshCart app</h3>
  <h6 class="text-secondary ms-2">
    We will send you a link , open it on your phone to download the app
  </h6>
  <div class="mb-3  flex-sm-column flex-lg-row   d-lg-flex  ms-3">
    <input
      type="email"
      class="form-control me-4 mt-2 w-75 var(--light-color)"
      id="floatingInput"
      placeholder="Email"
    />
    <label for="floatingInput" class=""></label>
    <button class="btn-main mt-2" for="floatingInput">Share App Link</button>
  </div>
  <!-- <div class="  d-flex flex-lg-nowrap  justify-content-between  align-items-center">
  <div class="payment-info  d-flex align-items-center gap-2 ">
    
      <h3 class="h6 m-0 fw-bold">Payment partners</h3>
      <img  src="./assets/images/amazon-pay.png" width="36px" alt="amazon-pay" />
      <img  width="36px"
        src="./assets/images/American-Express-Color.png"
        alt="American-Express"
      />
      <img   width="36px"  src="./assets/images/mastercard.webp" alt="mastercard" />
      <img   width="36px"  src="./assets/images/paypal.png" alt="paypal" />
     
    </div>
    <div class="store-img  d-flex align-items-center gap-2">
      
      <h3 class="h6 fw-bold m-0">Get deliveries with FreshCart</h3>
      
      <img width="120px" src="./assets/images/get-apple-store.png" alt="apple-store" />
      <img width="120px" src="./assets/images/get-google-play.png" alt="google-play" />
      
      
    </div>
  </div> -->
</footer>
