<section>
    @if (step == 1) {
         <div class="bg-main-light rounded-4 my-2 shadow">
        <h3 class="h4 text-main p-4 fw-bolder">
            Verfiy Your Email
        </h3>
    <form [formGroup]="verifyEmail" (ngSubmit)="setVerifyEmail()">
         <div class="my-2 p-4 ">
        <label for="exampleFormControlInput1" class="form-label fw-bold">Email address</label>
        <input 
        formControlName="email" 
        type="email" class="form-control w-100" id="exampleFormControlInput1">
          
        @if(verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty )){
            @if (verifyEmail.get('email')?.getError("required")) {
                <div class="alert alert-danger text-danger fw-bold mt-2" role="alert">
                Email Is Required
               </div>
            }
      
        }
        @else if (verifyEmail.get('email')?.getError("email")) {
            <div class="alert alert-danger text-danger fw-bold mt-2" role="alert">
                Email Not Valid
            </div> 
        }
        <button [disabled]="verifyEmail.invalid" class="btn-main my-2 d-block ms-auto"> Verfiy</button>
      </div>
     
    </form>
</div>

    }
   

    @if(step == 2){

       <div class="bg-main-light rounded-4 my-2 shadow">
    <h3 class="h4 text-main p-4 fw-bolder">
        Verify Code
    </h3>
<form [formGroup]="verifyCode" (ngSubmit)="setVerifyCode()" >
     <div class="my-2 p-4 ">
    <label for="exampleFormControlInput12" class="form-label fw-bold">verifiction code</label>
    <input 
    formControlName="resetCode" 
    type="text" class="form-control w-100" id="exampleFormControlInput12">
    @if(verifyCode.get('resetCode')?.errors && (verifyCode.get('resetCode')?.touched || verifyCode.get('resetCode')?.dirty )){
        @if (verifyCode.get('resetCode')?.getError("required")) {
            <div class="alert alert-danger text-danger fw-bold mt-2" role="alert">
                verifiction code Is Required
           </div>
        }
  
    }
    @else if (verifyCode.get('code')?.getError("pattern")) {
        <div class="alert alert-danger text-danger fw-bold mt-2" role="alert">
            Verifiction Code Not Valid
                    </div> 
    }
    <button [disabled]="verifyCode.invalid" class="btn-main my-2 d-block ms-auto"> Verfiy</button>

  </div>
 
</form>

</div>
 
    }


@if (step == 3) {
    <div class="bg-main-light rounded-4 my-2 shadow">
    <h3 class="h4 text-main p-4 fw-bolder">
        Reset Password
    </h3>
<form [formGroup]="resetPass" (ngSubmit)="setNewPass()">
     <div class=" p-4 ">
    <label for="exampleFormControlInput1" class="form-label fw-bold">Email address</label>
    <input 
    formControlName="email" 
    type="email" readonly class="form-control w-100" id="exampleFormControlInput1">
    @if(resetPass.get('email')?.errors && (resetPass.get('email')?.touched || resetPass.get('email')?.dirty )){
        @if (resetPass.get('email')?.getError("required")) {
            <div class="alert alert-danger text-danger fw-bold mt-2" role="alert">
            Email Is Required
           </div>
        }
  
    }
    @else if (resetPass.get('email')?.getError("email")) {
        <div class="alert alert-danger text-danger fw-bold mt-2" role="alert">
                        Email Not Valid
                    </div> 
    }
  </div>

  <div class=" p-4 ">
    <label for="exampleFormControlInput1" class="form-label fw-bold">New Password</label>
    <input 
    formControlName="newPassword" 
    type="email" class="form-control w-100" id="exampleFormControlInput1">
      
    @if(resetPass.get('newPassword')?.errors && (resetPass.get('newPassword')?.touched || resetPass.get('newPassword')?.dirty )){
        @if (resetPass.get('newPassword')?.getError("required")) {
            <div class="alert alert-danger text-danger fw-bold mt-2" role="alert">
            Email Is Required
           </div>
        }
  
    }
    @else if (resetPass.get('newPassword')?.getError("pattern")) {
        <div class="alert alert-danger text-danger fw-bold mt-2" role="alert">
                        Password Not Valid
                    </div> 
    }
    <button [disabled]="resetPass.invalid" class="btn-main my-2 d-block ms-auto"> Reset</button>
  </div>
  
 
</form>
</div>

}


</section>
